* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.child-trends-container {
  width: 100%;
  /* margin: auto; */
  height: 5rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #192734;
  padding-left: 2%;
  padding-right: 2%;
  transition: all 0.5s;
  cursor: pointer;
  border-bottom: 1px solid rgb(56, 68, 77);
}
.child-trends-container:hover {
  background-color: #202e3a;
}
.child-trends-container .top {
  color: #768794;
  font-size: 0.9rem;
  height: 2rem;
  width: 100%;
  /* border: 1x solid yellow; */
  display: flex;
  justify-content: space-between;
  /* align-self: center; */
}
.child-trends-container .top span {
  display: flex;
  align-self: center;
}
.child-trends-container .top div {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
}
.child-trends-container .top div:hover {
  background: rgb(63, 63, 87);
}

.child-trends-container .top .options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  /* border: 1px solid rgb(34, 34, 29); */
}

.child-trends-container .middle {
  color: white;

  height: 2rem;
  width: 100%;
  /* border: 1px solid rgb(94, 94, 88); */
  /* display: flex;
  justify-content: space-around;
  flex-direction: column; */
}
.child-trends-container .end {
  color: #768794;
  font-size: 0.7rem;
  height: 1.3rem;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-self: flex-start;
  /* border: 1px solid rgb(50, 35, 186); */
}
