* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.parent-container {
  overflow: hidden;

  width: 100%;
  height: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}
.column1 {
  /* border: 1px solid blue; */
  background-color: rgb(21, 32, 43);
  height: 100vh;
  width: 23%;
}
.column1 .nav {
  margin-left: auto;
  height: auto;
  width: 80%;
  /* border: 1px solid red; */
  background-color: rgb(21, 32, 43);
}
.nav div {
  width: 100%;
  height: 3.2rem;
  /* border: 1px solid green; */
  display: flex;
  outline: none;
  align-items: center;
}
.nav li {
  list-style: none;
  width: auto;
  padding: 10px 3px;

  padding-right: 18px;
  padding-left: 18px;
  fill: white;
  border-radius: 2rem;
  transition: 0.3s;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li .svg {
  height: 1.5rem;
  width: 1.5rem;
  /* fill */
}
.twitter-icon {
  /* background-color: pink; */
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.twitter-icon:hover {
  background-color: #253341;
}
.separator {
  /* margin-left: 2px; */
  margin-right: 20px;
}
.nav li .text {
  text-decoration: none;
  /* color: #fff; */
  font-size: 1.1rem;
  /* border: 1px solid #fff; */
  width: auto;

  /* transition: 0.5s; */
}
.nav li {
  color: #fff;
  cursor: pointer;
}
.nav li:hover {
  background-color: rgb(21, 44, 63);
  color: #1da1f2;
  fill: #1da1f2;
}
/* .nav a:hover {
  background-color: rgb(21, 44, 63);
  color: #1da1f2;
} */
.tweet-btn {
  background-color: #1da1f2;
  border: none;
  width: 80%;
  border-radius: 4rem;
  padding: 13px 6px;
  color: #fff;
  font-weight: bold;
  outline: none;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s;
}
.tweet-btn:hover {
  background-color: #1c86c9;
}

.column2 {
  border: 1px solid #38444d;
  height: 100vh;
  width: 44%;
  background-color: rgb(21, 32, 43);
  /* overflow-x: hidden; */
  max-height: 100%;
  overflow-y: auto !important;
}
/* hide scroll bar in column 2 */
.column2::-webkit-scrollbar {
  display: none;
}
/* end of hide scroll bar in column 2  */
.column2 .header span {
  margin-left: 3%;
  font-size: larger;
  font-weight: bold;
}
.column2 .header {
  cursor: pointer;
}
.column2 .header {
  height: 3rem;
  width: 100%;
  background-color: rgb(21, 32, 43);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #38444d;
}

.column2 .header .top-tweets {
  height: 4rem;
  width: 4rem;
  /* border: 1px solid #38444d; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.column2 .header .top-tweets div {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #1a89cd;
  border-radius: 50%;
  transition: 0.5s;
}
.column2 .header .top-tweets div svg {
  width: 1.5rem;
  height: 1.5rem;
}
.column2 .header .top-tweets div:hover {
  background: rgb(63, 63, 87);
}
.column3 {
  height: 100vh;
  width: 33%;
  background-color: #15202b;
  position: relative;
  max-height: 100%;
  overflow-y: auto !important;
  /* padding-top: 58px; */
}

/* .bar3 {
 
}

.holder {
  height: 100vh;
  overflow: hidden;
  width: 100;
} */
